<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Appointment List</title>
    <script>
      function displaySelection() {
        const selectElement = document.getElementById("duration");
        const selectedOption = selectElement.options[selectElement.selectedIndex].value;
        
        
        const list1Element = document.getElementById("30min");
        const list2Element = document.getElementById("60min");

        if (selectedOption === "30") {
            list1Element.style.display = "block";
            list2Element.style.display = "none";
    }     else if (selectedOption === "60") {
            list1Element.style.display = "none";
            list2Element.style.display = "block";
    }     else {
            list1Element.style.display = "none";
            list2Element.style.display = "none";
    }
        }

        function updateappointment(id) {
        const title = document.getElementById(`${id}`).value;
          console.log("title",title);
          fetch(`/list/${id}`, {
            method: 'put',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              title:title,
              id:id
          
        })
          }).then((res) => {
            if(res.ok)
            {
              window.location.reload();
            }
          
          }).catch(err => console.error(err))
        }
        function deleteappointment(id) {
          console.log(id);
          fetch(`/list/${id}`, {
            method: 'delete',
            headers: { 'Content-Type': 'application/json'},
            body: JSON.stringify({
              id:id
        })
          }).then((res) => {
            if(res.ok)
            {
              window.location.reload();
            }
          }).catch(err => console.error(err))
        }
      </script>
    
</head>
<body>
    <h1 class="text-2xl text-black-900 text-center font-bold">Appointment Booking System</h1>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <form action="/list" method="post">
                <div class="flex gap-2 p-4">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="Purpose" class="border border-gray-900 rounded text-gray-900 w-full p-2 text-sm" required/>
                    </div>
                
                <div class="flex ">
                    <select name="duration" id="duration"   onchange="displaySelection()" class="flex-auto h-10 border rounded border-gray-900" required>
                        <option value="">Select duration</option>
                        <option name="duration" value="30">30 minutes</option>
                      <option name="duration" value="60">60 minutes</option>
                    </select>
                </div>

                <div class="flex-none">
                  <button type="submit"   class="bg-green-600 text-white px-5 py-2 rounded font-medium py-1.5">Book</button>
              </div>
      
             </div>   
             
          </div>

            <div class="flex-none col-start-3 col-span-2">
              <div id="30min" style="display:none">
                <fieldset>
                  <legend>Select start time:</legend>
                  <% for(var i=0; i<startlist.length; i++) { %>
                    <ul>
                    <li> <input type="radio" name="start" value="<%= startlist[i] %>" required><%= startlist[i] %></input></li>
                  </ul>
                           
                <% } %>
              </fieldset>    
              </div>
                
              <div id="60min" style="display:none">
                <fieldset>
                  <legend>Select start time:</legend>
                  <% for(var i=0; i<startlist1.length; i++) { %>
                    <ul>
                    <li> <input type="radio" name="start" value="<%= startlist[i] %>" required><%= startlist1[i] %></input></li>
                  </ul>
                           
                <% } %>
              </fieldset>    
              </div>
            </div>
        </form>
        
  </div>
    
  <div>
    <%- include('listing.ejs', {totallist:totallist1,list1,list2}) %>
  </div>
    
</body>
</html>