
<center>
<h1 class="text-xl text-red-900 font-bold ml-5">Appointments</h1>
<table class="table-auto px-10 border-separate dark:bg-gray-200 border-spacing-4">
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Start</th>
      <th></th>
      <th>End</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<totallist.length; i++) {%>
    <tr>
      <td><input type="text" name="title" id="<%= totallist[i].id %>"  class="rounded p-2 border border-blue-900" value="<%= totallist[i].title %>"></td>
      <td><%= list1[i] %> </td>
      <td>to</td>
      <td><%= list2[i] %></td>
      <td><%= totallist[i].duration %> minutes</td>
      <td><button  name="update" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"><a href="" onclick="updateappointment(<%= totallist[i].id %>)">Update</a></button></td>
      <td> <button  name="delete" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"><a href="" onclick="deleteappointment(<%= totallist[i].id %>)">Delete</a></button></td>
      
    </tr>
    <% } %>
  </tbody>

</table>
</center>

